* { box-sizing: border-box;
}

body {
  margin: 0em;
  padding: 0em;
  background-color: wheat;
}

article div{
  display: inline-block;
}
section {
  min-width: 800px;
}

div {
  margin: -2px;
  height: 100px;
  width: 100px;
} 

  article section:nth-child(odd) div:nth-child(2n +1),
  article section:nth-child(even) div:nth-child(2n){
    background-color: black;
    /* border: 1px solid white; */
    background-image: url(./chess-deck-black.jpeg);
    background-size: cover; 
  }
  
  
  article section:nth-child(odd) div:nth-child(2n),
  article section:nth-child(even) div:nth-child(2n +1){
    background-color: white; 
    /* border: 1px solid black; */
    background-image: url(./chess-deck-white.jpeg);
    background-size: cover;
  }