* { box-sizing: border-box;
}

body {
  margin: 0em;
  padding: 0em;
  background-color: wheat;
}

article {
  display: block;
}

div {
  margin: -2px;
  padding: -2px;
  border: 0px solid black;
  height: 100px;
  width: 100px;
} 
article>div:nth-child(1n+1) { 
   display: inline-block;
  }
  article div:nth-child(2n+1)
  {
    background-color: black;
    /* border: 1px solid white; */
    background-image: url(./chess-deck-black.jpeg);
    background-size: cover;
  }
  article div:nth-child(2n)
  {
    background-color: white;
    /* border: 1px solid black; */
    background-image: url(./chess-deck-white.jpeg);
    background-size: cover;
  }